.btn {
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    text-align: center;
    cursor: pointer;
    color: #228B22;

}


.active {
    background-color: #228B22;
    color: white;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

        
}

